extends ../layout

block content

  div.container
    div.row
      div.col-md-4
        .panel.panel-default
          .panel-heading
            h3.panel-title.text-center User Details
          .panel-body
            br
            form
              .form-group
                input(type='text', name='username', class='form-control', value='#{user.username}', readonly)
              .form-group
                input(type='text', name='name', class='form-control', value='#{user.name}', readonly)
              .form-group
                input(type='text', name='email', class='form-control', value='#{user.email}', readonly)
              .form-group
                input(type='text', name='gender', class='form-control', value='#{user.gender}', readonly)
              .form-group
                input(type='text', name='address', class='form-control', value='#{user.address}', readonly)
              .form-group
                input(type='text', name='posttown', class='form-control', value='#{user.posttown}', readonly)
              .form-group
                input(type='text', name='postcode', class='form-control', value='#{user.postcode}', readonly)
           .row
             .col-md-4.col-sm-4.col-xs-4
               a.btn.btn-warning.btn-round(href='/profile/change') Change
             if itemsCount !== 0
               .col-md-4.col-sm-4.col-xs-4
                 a.btn.btn-primary.btn-round(href='/cart') Cart
               .col-md-4.col-sm-4.col-xs-4
                 a.btn.btn-primary.btn-round(href='/checkout') Checkout
      if weHaveOrders
        div.col-md-6
          .panel.panel-default
            .panel-heading
              h3.panel-title.text-center Your Orders
            .panel-body
              each order, o in orders
                if order.items
                  table.table.table-striped.table-hover.table-bordered
                    thead
                      tr
                        th(width='150') Order No: #{order.orderNo}
                        th(width='150') Order Date: #{moment(order.orderDate).format('DD/MM/YYYY')}
                        th(width='150') Order Status: #{order.status}
                        th
                    thead
                      tr
                        th(width='100') Item
                        th(width='100') Price
                        th(width='100') Quantity
                        th(width='100') Total
                    tbody
                      each item, i in order.items
                        tr
                          td #{item.title}
                          td
                            !=displayPrice(item.price)
                          td #{item.quantity}
                          td
                            !=displayPrice(item.total)
                  div.row
                    div.col-md-6
                      h4 Total: 
                        strong
                          !=displayPrice(order.total)  