<section class="pb-5 pt-0 ps-5 pe-5"></section>

  <div class="container mt-3">
    <h2>Your Orders</h2>
    <p>Below is a list of all your recent orders with us.</p>

    <div class="bg-secondary rounded order-box">

    <% for (var order of orders) { %>

      <table class="table table-primary table-striped m-0 order-table">
        <thead>
          <tr>
            <th>Order Number</th>
            <th>Order Date</th>
            <th>Order Status</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= order.orderNo %></td>
              <td><%- moment(order.orderDate).format('DD/MM/YYYY') %></td>
              <td><%= order.status %></td>
            </tr>  
          <tr>
        </tbody>
      </table>

      <table class="table table-success table-striped mb-3">
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <% for (var item of order.items) { %>
            <tr>
              <td><%= item.title %></td>
              <td><%- displayPrice(item.price) %></td>
              <td><%= item.quantity %></td>
              <td><%- displayPrice(item.total) %></td>
            </tr>
          <% } %>
            <tr>
              <td></td>
              <td></td>
              <td class="fw-bold">Order Total</td>
              <td class="fw-bold"><%- displayPrice(order.total) %></td>
            </tr>  
        </tbody>
      </table>

    <% } %>
  </div>

  </div>

</section>
