extends ../layout

block content
  div.row
    div.col-md-12   
    if (typeof(itemsCount) !== 'undefined')
      if itemsCount !== 0
        div.col-md-12
          div.col-md-6
            h2 Your Shopping Cart
          div.col-md-6
            form#emptyCart(method='post', action='/emptycart')
              input.btn.btn-warning.btn-round(type='submit', value='Empty Cart')
              input(type='hidden', value='{_csrf}', name='_csrf')
        table.table.table-striped.table-hover.table-bordered
          thead
            tr
              th(width='400') Item
              th(width='100') Price
              th(width='100') Quantity
              th(width='100') Total
              th(width='120')
              th(width='120')
          tbody
            each item, i in cart.items       
              tr
                td
                  a(href='/books/details/#{item.bookId}') #{item.title}
                td
                  !=displayPrice(item.price)
                td #{item.quantity}
                td
                  !=displayPrice(item.total)
                td
                  form#addAnother(method='post', action='/cart/#{item.bookId}')
                    input.btn.btn-success.btn-round.btn-sm(type='submit', value='Add Another')
                    input(type='hidden', value='{_csrf}', name='_csrf')
                td
                  form#removeBook(method='post', action='/cart/remove/#{item.bookId}')
                    input.btn.btn-primary.btn-round.btn-sm(type='submit', value='Remove')
                    input(type='hidden', value='{_csrf}', name='_csrf')
        div.row
          div.col-md-6
            h4 Total: 
              strong
               !=displayPrice(cart.total)
          div.col-md-6
      else
        h3 There are no items in your cart
      div.row
          a.btn.btn-warning.btn-round(href='/continue',style="margin-left:15px") Continue Shopping
          if (typeof(itemsCount) !== 'undefined')
            if itemsCount !== 0
              if loggedIn
                a.btn.btn-success.btn-round(href='/checkout',style="margin-left:15px") Buy Now
              else
                a.btn.btn-success.btn-round(href='/login',style="margin-left:15px") Log In To Buy
    else
      h3 There are no items in your cart
      div.row
        div.col-md-3
          a.btn.btn-warning.btn-round(href='/') Continue Shopping   